<?xml version='1.0' encoding='utf-8'?>
<widget id="es.plaa.ios" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pisos y Locales de alquiler en Aragón</name>
    <description>
        Consulta de fianzas por calle y POIs en Aragón
    </description>
    <author email="info@idearium.eu" href="http://www.idearium.eu/">
        Idearium Consultores
    </author>
    <icon height="1024" width="1024" src="www/images/22-Vivienda.png"/>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="uk.co.workingedge.cordova.plugin.sqliteporter" spec="~0.1.1" />
    <plugin name="cordova-plugin-spinnerdialog" spec="~1.3.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.4" />
    <plugin name="cordova-plugin-request-location-accuracy" source="npm" />
</widget>
